#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
[fan]
pin: EBB:gpio14
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10


##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: EBB:gpio4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##  Controller fan - FAN2
# Swapped for a set of 4-pin noctua fans
# https://www.nicksherlock.com/2022/01/driving-a-4-pin-computer-pwm-fan-on-the-btt-octopus-using-klipper/
# https://www.klipper3d.org/Config_Reference.html#controller_fan
[controller_fan controller_fan]
pin: !PD14 # Noctua pwn is controlled by a separate pin. Power is provided by PD12
kick_start_time: 0.5
max_power: 0.75 # experimentally determined. RPMs seem to drop off over 0.75
heater: heater_bed,extruder
fan_speed: 0.8
idle_speed: 0.3
shutdown_speed: 0.3
off_below: 0.1 # Noctua PWM whitepaper suggests 0.2 is when fan speed becomes unreliable
hardware_pwm: True
cycle_time: 0.00004 # 25 kHz
# RPM monitoring:
tachometer_pin: ^PG11
tachometer_ppr: 2
tachometer_poll_interval: 0.0005
stepper: stepper_x, stepper_y, stepper_z

##  Bed filter fan - FAN3
[fan_generic filter]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
# heater: heater_bed
# heater_temp: 70
# fan_speed: 1.0

[filter_monitor air_filter]
fan: fan_generic filter
max_runtime_hours: 50 # Defaults to 50 hours
max_days: 30 # Defaults to 30 days
interval: 30 # Defaults to 30 seconds
expiry_gcode: SEND_FILTER_ALERT
path: ~/printer_data/config/data
