# Modified from:
# https://www.printables.com/model/882364-new-version-adjustable-gantry-mounted-nozzle-seal

[gcode_macro CLEAN_NOZZLE]

variable_prep_spd_xy:        5000 	 ; Travel (not cleaning) speed along x and y-axis in mm/min.
variable_wipe_spd_xy:        5000	   ; Nozzle wipe speed in mm/min.

# Move here before getting in position
variable_x_clearance: 13
variable_y_clearance: 265

# Nozzle stop
variable_x_nozzle_stop: 35
variable_y_nozzle_stop: 306.5

variable_x_brush_end: 95

gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
     {% set restore_pos = params.RETURN | default(0) | int %} 

      SAVE_GCODE_STATE NAME=clean_nozzle

      ## Set to absolute positioning.
      G90

      _STATUS_CLEANING

      # Move to the nozzle stop safely
      G1 X{x_clearance} Y{y_clearance} F{prep_spd_xy}
      G1 Y{y_nozzle_stop} F{prep_spd_xy}
      G1 X{x_nozzle_stop} F{prep_spd_xy}

      # Actually brush
      G1 X{x_brush_end} F{wipe_spd_xy}

      ## Clear from area.
      M117 Cleaned!
      G1 Y{y_clearance} F{prep_spd_xy}

      ## Restore the gcode state to how it was before the macro.
      RESTORE_GCODE_STATE NAME=clean_nozzle MOVE={restore_pos} MOVE_SPEED={prep_spd_xy}

   {% else %}

      ## raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
      { action_raise_error("Please home your axes!") }
      M117 Please home first!

   {% endif %}
