## New menu entries used by KlipperScreen.conf

# Not to be included in printer.cfg

[menu __main __filament __clean]
name: Clean Nozzle
method: printer.gcode.script
params: {"script": "CLEAN_NOZZLE"}

[menu __main CTRL]
name: Quick
icon: toolchanger

# Lights
[menu __main CTRL all_lights_on]
name: Lights On
icon: light-on
method: printer.gcode.script
params: {"script": "LIGHT_ON_ALL"}
[menu __main CTRL all_lights_off]
name: Lights Off
icon: light
method: printer.gcode.script
params: {"script": "LIGHT_OFF_ALL"}

[menu __main CTRL chamber_light_on]
name: Chamber On
icon: light-on
method: printer.gcode.script
params: {"script": "LIGHT_ON"}
[menu __main CTRL chamber_light_off]
name: Chamber Off
icon: light
method: printer.gcode.script
params: {"script": "LIGHT_OFF"}

[menu __main CTRL part_light_on]
name: Part On
icon: light-on
method: printer.gcode.script
params: {"script": "set_nozzle_leds_on"}
[menu __main CTRL part_light_off]
name: Part Off
icon: light
method: printer.gcode.script
params: {"script": "set_nozzle_leds_on"}

[menu __main CTRL status_lights_on]
name: Status Lights On
icon: light-on
method: printer.gcode.script
params: {"script": "set_logo_leds_on"}
[menu __main CTRL status_lights_off]
name: Part Lights Off
icon: light
method: printer.gcode.script
params: {"script": "set_logo_leds_off"}

# Fans
[menu __main CTRL fan_ctrl]
name: Fan Ctrl
icon: fan-on
panel: fan
[menu __main CTRL all_fans_off]
name: Fans off
icon: fan
method: printer.gcode.script
params: {"script": "_STOP_ALL_FANS"}

[menu __main CTRL clean_nozzle]
name: Clean Nozzle
icon: extruder
method: printer.gcode.script
params: {"script": "CLEAN_NOZZLE"}

# Maintenance menu
# See macros/helpers/maintenance.cfg
[menu __main CTRL maint]
name: Maint Timers
icon: info

[menu __main CTRL maint nevermore]
name: Reset Nevermore
icon: fan
method: printer.gcode.script
params: {"script": "RESET_FILTER"}

[menu __main CTRL maint print_bed]
name: Check print bed
icon: bed
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=print_bed"}

[menu __main CTRL maint print_bed_adhesive]
name: Check Bed Adhesive
icon: bed
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=print_bed_adhesive"}

[menu __main CTRL maint rails]
name: Reset Rails
icon: move
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=rails"}

[menu __main CTRL maint gantry_racking]
name: Reset Gantry Racking
icon: motor-off
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=gantry_racking"}

[menu __main CTRL maint belts]
name: Reset Belts
icon: move
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=belts"}

[menu __main CTRL maint print_chamber]
name: Clean chamber
icon: delete
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=print_chamber"}

[menu __main CTRL maint clean]
name: Clean print bed
icon: bed
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=print_bed_clean"}

[menu __main CTRL maint fans]
name: Reset fan timer
icon: fan
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=fans"}

[menu __main CTRL maint probe]
name: Reset probe
icon: fine-tune
method: printer.gcode.script
params: {"script": "UPDATE_MAINTENANCE NAME=probe"}
